/* REMOVE following class when sliders will be implemented. It is temporary to hide*/
.hidden-while-no-styles {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../typography/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 1440px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*** HEADER ***/
.header {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-right: 140px;
  margin-left: 138px;
  padding: 30px 40px;
  width: 1158px;
  min-height: 299px;

  background-color: #f0c52e;
}

.header-wrapper {
  padding: 30px 40px;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-row:nth-child(2) {
  padding-bottom: 12px;
}

.header-row:nth-child(1) {
  padding-top: 22px;
}

.header-navigation-sub-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-navigation-sub-row p,
.header-login-panel {
  margin: 0;
}

.header-navigation-sub-row p:not(:last-child) {
  margin-right: 12px;
}

.header-login-panel {
  display: flex;
}

.header-login-panel li:not(:last-child) {
  margin-right: 12px;
}

.header ul {
  list-style: none;
}

.nav-item {
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
}
/*******************************************/

/*** SEARCH in header ***/
.search {
  outline: 0;
  border: none;
  border-bottom: 1px solid #f0c52e;
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.search-form {
  height: 11px;
}

.search:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search:focus {
  border-color: #000000;
  color: #000000;
}

.search-button {
  visibility: hidden;
}

.search:focus + .search-button {
  visibility: visible;
  margin-left: -4px;
  border: 1px solid #000000;
  background-color: #f0c52e;
}

.search:focus + .search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  visibility: visible;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}
/*******************************************/

/***************** FOOTER *****************/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 323px;
  background-color: #464646;
  color: #ffffff;
  margin-top: 50px;
}

.footer ul {
  list-style: none;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 138px;
}

.social-footer {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
}

.nav-footer li:not(:last-child) {
  margin-right: 20px;
}

.footer ul,
.footer p {
  margin: 0;
}
.nav-footer a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
/*******************************************/

/****************** MAIN ******************/

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
}

.section-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 31px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

.index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*******************************************/

/************* LINKS IN HEADER *************/
.link-header:visited {
  color: #000000;
}

.link-header:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link-header:active {
  color: rgba(0, 0, 0, 0.3);
}

.link-header-active {
  color: rgba(0, 0, 0, 0.3);
}
/*******************************************/

/*** LINKS IN MAIN SECTION crossed style ***/
.link-main {
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  border: none;
}

.link-main:visited {
  color: #000000;
}

.link-main:hover {
  background: #f0c52e;
}

.link-main:active {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
/*******************************************/

/************* LINKS IN FOOTER *************/
.link-footer,
.link-footer:visited {
  color: #ffffff;
}

.link-footer:hover {
  color: rgba(255, 255, 255, 0.6);
}

.link-footer:active {
  color: rgba(255, 255, 255, 0.3);
}

.link-footer-active {
  color: rgba(255, 255, 255, 0.3);
}
/*******************************************/

/************* LIST style ******************/
.list li::before {
  content: "\25E6";
  display: inline-block;
  width: 25px;
  font-weight: 800;
  color: #e5e5e5;
}

.list {
  list-style: none;
  line-height: 30px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
}
/*******************************************/

/************* Catalog page ****************/
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 30px;
  width: 467px;
}

.sorting {
  display: flex;
  
  
  background-color: #ebebeb;
}

.sorting-options-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.catalog-columns {
  display: flex;
}

.catalog-main {
  font-size: 14px;
}

.catalog-section-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.catalog-card-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.catalog-card-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 30px;
  list-style: none;
}

.catalog-card-header {
  display: flex;
  justify-content: space-between;
}

.catalog-card-title,
.catalog-item-price {
  margin: 0;
  
}

.catalog-item a:visited {
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
}
/*******************************************/

/******* Catalog page - PAGINATIION ********/
.pagination {
  list-style: none;
  background: #ebebeb;
}

.pagination a {
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination a:visited {
  color: rgba(0, 0, 0, 0.3);
}

.pagination .selected,
.pagination .selected:visited {
  color: #000000;
}

.pagination .end-point,
.pagination .end-point:visited {
  color: #000000;
}

.pagination .end-point:hover {
  background-color: #d9d9d9;
}

.pagination .end-point:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}
/*******************************************/

/******* Catalog page - BREADCRUMBS ********/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:not(.disabled):hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:not(.disabled):active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs .disabled {
  cursor: default;
}
/*******************************************/

/********** Catalog page - FILTER **********/
.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.filter ul {
  list-style: none;
}
/*******************************************/

/********** communication form *************/
.communication-form {
  display: none;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.communication-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.communication-form input,
.communication-form textarea {
  background: #f2f2f2;
  border: none;
}

.communication-form input::placeholder,
.communication-form textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}
/*******************************************/
.address-popup {
  display: none;
}

/********** communication form *************/
.promo-slider {
  display: flex;
  flex-direction: row;
  margin-right: 140px;
  margin-left: 138px;
}

.promo-slider-img {
  order: -1;
}

.promo-slider-info {
  display: flex;
  flex-direction: column;
}
/*******************************************/

/********** GOOD's GROUPS *************/
.groups {
  margin-right: 140px;
  margin-left: 138px;
}

.group-list {
  display: flex;
  list-style: none;
}

.group-list-item-name {
  margin-right: 40px;
}
/*******************************************/

/************ BENEFITS *********************/
.benefits {
  display: flex;
  min-height: 288px;
  background-color: #e5e5e5;
}

.benefit-name {
  display: flex;
  flex-direction: column;
  margin-right: 140px;
  margin-left: 138px;
}
/*******************************************/

/************ PARTNERS *********************/
.partners {
  display: flex;
  margin-right: 140px;
  margin-left: 138px;
}

.partners img {
  margin-right: 40px;
}
/*******************************************/

/************  *********************/
.about,
.contacts {
  display: flex;
  flex-direction: column;
}

.about {
  margin-left: 138px;
}
/*******************************************/

/************  ***************/



/*******************************************/
