.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../typography/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  padding: 0;
  padding-top: 21px;
  padding-right: 60px;
  padding-left: 60px;
  background-image: linear-gradient(
    to bottom,
    #ffffff 40px,
    #f7e296 40px
  );
}

.user-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 31px;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 51px;
}

.navigation .nav-item:nth-child(1) {
  margin-right: auto;
}

.navigation .nav-item:nth-child(2) {
  margin-right: 33px;
}

.navigation .nav-item:nth-child(3) {
  margin-right: 68px;
}

.navigation .nav-item:last-child {
  margin-left: 40px;
  margin-right: -4px;
}

.user-menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.user-menu-items p {
  margin: 0;
}

.user-menu-items .link-header:not(:last-child) {
  margin-right: 30px;
}

.header-login-panel {
  display: flex;
  min-width: 287px;
  letter-spacing: 0.15px;
}

.header-login-panel li:not(:last-child) {
  margin-right: 22px;
}

.nav-item {
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.nav-catalog-link {
  padding-right: 28px;
  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16px 16px;
}

.nav-item-catalog {
  position: relative;
  flex-grow: 1;
}

.navigation .nav-item:nth-child(3) {
  margin-right: 69px;
}

.catalog-menu {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  justify-content: flex-start;
  top: 100%;
  left: -60px;
  z-index: 2;
  padding-top: 36px;
  padding-left: 60px;
  padding-bottom: 25px;
  width: 1160px;
  background-color: #f7e296;
}

.catalog-menu-column:not(:last-child) {
  margin-right: 58px;
}

.catalog-menu-column li {
  margin-bottom: 18px;
}
.nav-item-catalog:hover .catalog-menu,
.nav-item-catalog:hover .catalog-menu {
  display: flex;
}

.search-form {
  position: relative;
  display: flex;
  bottom: 15px;
  margin-right: 98px;
  width: 440px;
  height: 45px;
}

.search-form::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search {
  -webkit-appearance: none;
  position: relative;
  outline: 0;
  flex-grow: 1;
  padding-left: 38px;
  box-shadow: none;
  background-color: transparent;
  letter-spacing: 0.15px;
  border: none;
}

.search:focus {
  border-bottom: 2px solid #000000;
  color: #000000;
}

.search::placeholder {
  opacity: 0.3;
}

.search:hover::placeholder {
  opacity: 0.6;
}

.search-button {
  visibility: hidden;
  padding: 9px 19px;
  border: 2px solid #000000;
  background-color: transparent;
}

.search:focus + .search-button {
  visibility: visible;
}

.search:focus + .search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  visibility: visible;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.footer {
  position: relative;
  padding-top: 67px;
  padding-bottom: 90px;
  background-color: #464646;
  color: #ffffff;
}

.inner-page .footer {
  padding-top: 65px;
}

.footer::before {
  content: "";
  position: absolute;
  left: 140px;
  bottom: 102px;
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.footer-bottom-row {
  position: relative;
  padding-top: 29px;
}

.social-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 22px;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 5px;
}

.footer-links li:not(:last-child) {
  margin-right: 42px;
}

.footer-links li:first-child {
  margin-right: 20px;
}

.nav-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 31px;
  letter-spacing: 3.6px;
}

.nav-footer li:not(:last-child) {
  margin-right: 35px;
}

.footer p {
  margin: 0;
}
.nav-footer a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.link-footer,
.link-footer:visited {
  color: #ffffff;
}

.link-footer:hover {
  opacity: 0.6;
}

.link-footer:active {
  opacity: 0.3;
}

.main {
  position: relative;
}

.page-title {
  margin-top: 39px;
  margin-bottom: 23px;
  padding-left: 60px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.section-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 80px;
}

.link-header {
  color: #000000;
}

.link-header:visited {
  color: #000000;
}

.link-header:hover {
  opacity: 0.6;
}

.link-header:active {
  opacity: 0.3;
}

.button {
  position: relative;
  width: 100%;
  padding: 0 10px 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 3.6px;
  background-color: transparent;
  color: #000000;
  border: none;
}

.button::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  z-index: -1;
  height: 8px;
  width: 100%;
  background-color: #f0c52e;
  transform: translateY(-50%);
}

.button:visited {
  color: #000000;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.button a {
  color: #000000;
}

.filters .button,
.catalog-item-actions .button {
  z-index: 2;
  color: #000000;
}

.filters .button:not(:hover) {
  background-color: #ebebeb;
}

.promo-slider-item .button {
  width: 220px;
  margin-bottom: 47px;
}

.contacts .button {
  padding-top: 10px;
  padding-right: 38px;
  padding-bottom: 10px;
  padding-left: 40px;
  width: 260px;
}

.about .button {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 23px;
}

.inner-page .button,
.communication-modal .button {
  z-index: 1;
  width: 200px;
}

.contacts .button::before,
.contacts .button:hover::before,
.about .button::before,
.about .button:hover::before {
  left: 0;
}

.catalog-main {
  font-size: 14px;
}

.catalog-column-title {
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.4px;
}

.catalog-card-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.catalog-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 67px;
  margin-right: -40px;
  margin-left: 72px;
}

.catalog-item {
  position: relative;
  margin-right: 40px;
  width: 360px;
}

.catalog-item:not(:last-child),
.catalog-item:not(:nth-last-child(2)) {
  margin-bottom: 45px;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2) {
  margin-bottom: 37px;
}

.catalog-item p {
  margin: 0;
}

.catalog-card-header {
  display: flex;
  justify-content: space-between;
  margin-left: 1px;
  margin-top: 30px;
}

.catalog-card-title,
.catalog-item-price {
  margin: 0;
}

.catalog-item a {
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #464646;
}

.catalog-item .catalog-item-actions {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.catalog-item:hover .catalog-item-actions {
  display: flex;
}

.catalog-item .catalog-item-actions {
  position: absolute;
  top: 0;
  left: 0;
  padding: 184px 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-action {
  margin-bottom: 20px;
}

.add-to-compare {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #000000;
  opacity: 0.5;
}

.add-to-compare:hover {
  opacity: 1;
}

.add-to-compare:active {
  opacity: 0.2;
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 73px;
  width: 759px;
  background: #ebebeb;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin-left: 30px;
}

.pagination-list li {
  margin-right: 30px;
}

.pagination-item a {
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:hover a {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item:active a {
  color: #000000;
}

.pagination-list .selected {
  color: #000000;
}

.pagination-button {
  padding-top: 23px;
  padding-right: 39px;
  padding-bottom: 27px;
  padding-left: 30px;
  width: 136px;
  height: 70px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
}

.pagination-button,
.pagination-button:visited {
  color: #000000;
}

.pagination-button:hover {
  background-color: #d9d9d9;
}

.pagination-button:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 47px;
  padding-left: 60px;
}

.breadcrumbs-list a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-list a:not(.disabled):hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-list a:not(.disabled):active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-list .disabled {
  cursor: default;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 37px;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 19px;
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.svg");
  background-repeat: no-repeat;
}

.filters fieldset {
  border: none;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
}

.filters legend {
  position: relative;
  margin-bottom: 10px;
  padding-top: 11px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.filters legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.filter-color {
  margin-bottom: 11px;
}

.filter-color-list {
  padding-top: 5px;
  padding-bottom: 10px;
}

.filter-bluetooth {
  margin-bottom: 24px;
}

.filter-bluetooth-list {
  margin-top: 7px;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 0.6;
}

.filter-input + label {
  position: relative;
  padding-left: 38px;
  line-height: 41px;
  letter-spacing: 0.14px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox + label:hover::before {
  opacity: 0.6;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:checked:active + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.25;
}

.filter-input-checkbox:disabled + label {
  color: #e6e6e6;
}

.filter-input-radio + label {
  position: relative;
}

.filter-input-radio + label::before,
.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.filter-input-radio + label::before {
  background-image: url("../img/icons/checkbox/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/icons/checkbox/radio-on.svg");
}

.filter-price {
  margin-bottom: 49px;
}

.range-filter {
  position: relative;
  width: 196px;
  margin-top: 25px;
}

.range-controls {
  padding-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 56%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 20px;
  height: 22px;
  border: none;
  background-color: #ebebeb;
  background-image: url("../img/icons/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.toggle:active {
  transform: scale(1.1);
}

.min-price-control {
  position: absolute;
  top: 1px;
  left: -8px;
}

.max-price-control {
  position: absolute;
  top: 1px;
  left: 55%;
}

.min-label-wrapper {
  margin-top: 13px;
  margin-left: 8px;
  opacity: 0.2;
}

.max-label-wrapper {
  margin-top: 13px;
  margin-left: -17px;
  opacity: 0.2;
}

.price-controls input {
  width: 40px;
  background-color: #ebebeb;
  border: none;
}

.promo-slider-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.promo-slider:before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 113px;
  z-index: -1;
  background-color: #f7e296;
}

.promo-slider:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 39px;
  right: 459px;
  width: 100px;
  border-top: 7px solid #ffffff;
}

.promo-slider {
  position: relative;
}

.promo-slider-item {
  display: none;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.promo-slider-item.selected {
  display: flex;
}

.promo-slider-content {
  display: flex;
  flex-direction: column;
  padding-left: 63px;
  margin: 0 auto;
  width: 560px;
}

.promo-slider-content::after {
  position: absolute;
  top: -24px;
  right: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 180px;
  color: #ffffff;
}

.promo-slider-item:nth-child(1) .promo-slider-content::after {
  content: "01";
}

.promo-slider-item:nth-child(2) .promo-slider-content::after {
  content: "02";
}

.promo-slider-item:nth-child(3) .promo-slider-content::after {
  content: "03";
}

.promo-slider-title {
  z-index: 1;
  margin-bottom: 0;
  padding-top: 35px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.5px;
}

.promo-slider-img {
  order: -1;
  margin-top: 2px;
  margin-left: 90px;
}

.slider-quadrocopter .promo-slider-img {
  margin-left: 5px;
}

.slider-quadrocopter .promo-slider-content {
  margin: 0;
  padding-left: 42px;
}

.promo-slider-description {
  margin-top: 18px;
  margin-bottom: 43px;

  line-height: 30px;
  letter-spacing: 0.2px;
}

.promo-top-row {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.promo-bottom-row {
  height: 30px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.promo-cell {
  width: 270px;
  color: #464646;
}

.promo-control-list {
  position: absolute;
  top: 325px;
  right: 80px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-control-button {
  width: 12px;
  height: 12px;
  background-image: url("../img/slider/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  background-color: transparent;
  border: none;
}

.promo-control-item:not(:last-child) {
  margin-right: 21px;
}

.promo-control-button.checked {
  background-image: url("../img/slider/slider-button.svg");
}

.groups {
  padding-top: 56px;
}

.group-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group-item {
  position: relative;
  margin-top: 193px;
  width: 160px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.group-link::before,
.group-link::after {
  position: absolute;
  content: "";
  top: -192px;
  left: 0;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
}

.group-link::before {
  background-color: #f0c52e;
  opacity: 0.5;
  z-index: -1;
}

.group-link,
.group-link:visited,
.group-link:hover {
  color: #000000;
}

.group-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.group-link:hover::before {
  opacity: 1;
}

.group-link:active.group-link::after {
  opacity: 0.3;
}

.group-link.virtual::after {
  background-image: url("../img/groups/popular-1.svg");
  background-position: 31px 52px;
}

.group-link.monopod::after {
  background-image: url("../img/groups/popular-2.svg");
  background-position: 38px 41px;
}

.group-link.action::after {
  background-image: url("../img/groups/popular-3.svg");
  background-position: 49px 38px;
}

.group-link.finess::after {
  background-image: url("../img/groups/popular-4.svg");
  background-position: 28px 50px;
}

.group-link.watch::after {
  background-image: url("../img/groups/popular-5.svg");
  background-position: 55px 32px;
}

.group-link.quadrocopter::after {
  background-image: url("../img/groups/popular-6.svg");
  background-position: 13px 49px;
}

.benefits-wrapper {
  position: relative;
  background-color: #e5e5e5;
  margin-top: 80px;
  margin-bottom: 94px;

  background-image: linear-gradient(
    to bottom,
    #ffffff 100px,
    #e5e5e5 40px
  );
}

.benefits-wrapper::after {
  position: absolute;
  content: "";
  height: 68px;
  width: 100%;
  background-color: #e5e5e5;
}

.benefits {
  display: flex;
  min-height: 288px;
}

.benefit-names {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-width: 285px;
  min-height: 150px;
  padding-top: 80px;
  padding-bottom: 46px;
  border-right: 7px solid #000000;
}

.benefit-name {
  position: relative;
  z-index: 1;
  margin-right: 118px;
  margin-bottom: 25px;
  padding-top: 9px;
  padding-bottom: 8px;
  width: 160px;
  border: none;
  background: none;
  outline: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.benefit-name::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  height: 8px;
  width: 160px;
  background-color: #f0c52e;
}

.benefit-name.selected::before,
.benefit-name:active::before {
  width: 278px;
  height: 40px;
  background-color: #000000;
}

.benefit-name.selected,
.benefit-name:active {
  color: #f0c52e;
}

.benefit-name:not(.selected):hover {
  background-color: #f0c52e;
}

.benefit-items {
  margin-left: 115px;
  padding-top: 35px;
}

.benefit-items .section-title {
  margin-bottom: 33px;
}

.benefit-item {
  display: none;
  position: relative;
  padding-right: 298px;
}

.benefit-item.selected {
  display: inline-block;
}

.benefit-item::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefit-item:nth-child(1)::before {
  top: 51px;
  right: 30px;
  width: 136px;
  height: 164px;
  background-image: url("../img/benefits/delivery.svg");
}

.benefit-item:nth-child(2)::before {
  top: 30px;
  right: 40px;
  width: 171px;
  height: 194px;
  background-image: url("../img/benefits/warranty.svg");
}

.benefit-item:nth-child(3)::before {
  top: 25px;
  right: 70px;
  width: 156px;
  height: 186px;
  background-image: url("../img/benefits/credit.svg");
}

.benefit-description {
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #464646;
}

.partners {
  margin-top: 160px;
  margin-bottom: 50px;
}

.partners-list {
  display: flex;
  justify-content: space-around;
}

.partners-item {
  position: relative;
  margin-right: 40px;
  width: 260px;
  height: 100px;
}

.partners-item:hover::before {
  position: absolute;
  content: "";
  top: 0;
  width: 260px;
  height: 100px;
}

.partners-item:nth-child(1):hover::before {
  background-image: url("../img/partners/logo-1-colored.jpg");
}

.partners-item:nth-child(2):hover::before {
  background-image: url("../img/partners/logo-2-colored.jpg");
}

.partners-item:nth-child(3):hover::before {
  background-image: url("../img/partners/logo-3-colored.jpg");
}

.partners-item:nth-child(4):hover::before {
  background-image: url("../img/partners/logo-4-colored.jpg");
}
.partners-item:last-child {
  margin-right: 0;
}

.about,
.contacts {
  position: relative;
  padding-top: 10px;
  width: 50%;
}

.about::before,
.contacts:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts {
  margin-left: 40px;
}

.contacts-map {
  margin-top: 25px;
  margin-bottom: 65px;
}

.paragraph-text {
  padding-top: 3px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.14px;
}

.description-list-text-before {
  padding-top: 15px;
  padding-bottom: 53px;
  letter-spacing: -0.15px;
}

.description-list li {
  position: relative;
  margin-bottom: 3px;
}

.description-list li::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -35px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.description-list {
  position: relative;
  padding-bottom: 52px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  line-height: 37px;
  padding-left: 35px;
  letter-spacing: 0.8px;
}

.enter {
  padding-left: 10px;
}

.compare {
  padding-left: 7px;
}

.cart {
  padding-left: 8px;
}

.exit {
  opacity: 0.3;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.social-link:hover {
  opacity: 1;
}

.social-link:active {
  opacity: 0.1;
}

.facebook {
  background-image: url("../img/icons/social/fb.svg");
}

.instagram {
  background-image: url("../img/icons/social/instagram.svg");
}

.twitter {
  background-image: url("../img/icons/social/twitter.svg");
}

.htmlacademy {
  position: absolute;
  top: 28px;
  right: 0;
  width: 27px;
  height: 35px;
  background-image: url("../img/icons/logo-htmlacademy-yellow.svg");
}

.htmlacademy:hover {
  opacity: 0.6;
}

.htmlacademy:active {
  opacity: 0.3;
}

.new-back::before {
  content: "new";
  position: absolute;
  z-index: 1;
  top: 29px;
  right: 26px;
  width: 60px;
  height: 60px;
  padding: 15px 13px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.7px;
  opacity: 0.2;
}

.catalog-row {
  display: flex;
}

.left-column {
  flex-grow: 1;
  width: 327px;
  background-color: #ebebeb;
}

.right-column {
  overflow: hidden;
  flex-grow: 1;
  padding-bottom: 55px;
  width: 833px;
}

.sorting-header {
  display: flex;
  padding-top: 21px;
  padding-left: 74px;
  padding-bottom: 15px;
  background-color: #ebebeb;
}

.sorting-options-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: 52px;
  margin-top: 2px;
}

.sorting-options-item a,
.sorting-direction-item svg {
  color: #000000;
  opacity: 0.3;
}

.sorting-options-item:hover a,
.sorting-direction-item:hover svg {
  opacity: 0.6;
}

.sorting-options-item:active a,
.sorting-direction-item:active svg {
  opacity: 1;
}

.sorting-options-item:not(:last-child) {
  margin-right: 32px;
  line-height: 18px;
}

.sorting-options-item.selected a,
.sorting-direction-item.selected svg {
  opacity: 1;
}

.sorting-direction-list {
  display: flex;
  margin-top: 4px;
  margin-left: 217px;
}

.sorting-direction-item {
  margin-left: 19px;
}

.filters-column {
  display: flex;
  flex-direction: column;
  width: 327px;
  margin-left: auto;
  padding-top: 21px;
  padding-left: 60px;
  padding-right: 69px;
}

.left-column.filter-header {
  background-color: #d9d9d9;
  padding-bottom: 24px;
}

.filters {
  margin-top: 47px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.modal-show {
  display: block;
}

.modal-map {
  top: 120px;
  left: calc(50% - 480px);
  width: 960px;
  height: 559px;
  background-color: #e5e5e5;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  opacity: 0.5;
  background: transparent;
  background-image: url("../img/icons/modal-close.svg");
  border: none;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.communication-modal {
  top: 120px;
  left: calc(50% - 480px);
  padding-top: 80px;
  padding-right: 101px;
  padding-left: 101px;
  width: 960px;
  height: 553px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.communication-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.communication-input-item {
  width: 360px;
  margin-bottom: 20px;
}

.communication-input {
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 20px;
  width: 360px;
}

.communication-modal label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.communication-modal input,
.communication-modal textarea {
  background: #f2f2f2;
  border: none;
}

.communication-textarea-item {
  margin-bottom: 40px;
}

.communication-textarea {
  padding-top: 18px;
  padding-left: 20px;
  width: 760px;
  height: 156px;
}

.communication-modal input::placeholder,
.communication-modal textarea::placeholder {
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}
